.btn-learnMore{
    top: 0;
    left: 390px;
    align-items: center;
    position: relative;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: whitesmoke;
  }

.btn-learnMore:hover{
    color: coral;
    border-bottom: whitesmoke 1px solid;
  }

.btn-learnMore::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: crimson;  
    transform: scaleY(0);
    transition: transform 0.25s, opacity 0.2s;
}

.ran-content{
  display: flex;
  justify-content: space-between;
  margin-left: 175px;
  margin-top: 60px;
}

.team-name{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 24px;
  color: #fff;
}

.copyright {
  position: absolute;
  top: 95%;
  left: 61%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 11px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


  